extends layout

block contenido
    header#search(class="max-w-[50ch] mx-auto flex sm:flex-row sm:gap-5 gap-2 flex-col  bg-[#322e2f] p-6 rounded-md")
        input(class="bg-[var(--gray)] hoveroutline my-auto flex-1 text-lg rounded-full pl-6 py-2 " placeholder="Search...")
        div(class="flex justify-between")
            button(class="button translate hoveroutline button-large   text-lg  bg-[#f9f4da]/5 hover:bg-[#f9f4da]/10 text-[#f9f4da] rounded-md hover-element font2") Filter
            button(class="w-16  min-w-[4rem] sm:ml-4 flex items-center justify-center translate")
                img(src="/img/SVG/lupa.svg", alt="" class=" h-8")
    ul#res(class="max-w-[50ch] mx-auto flex-col mt-5")
        li(class="flex items-center")
            div(class="flex flex-col flex-1 gap-5")
                a(href="#" class="font1 text-[var(--pink)] text-xl overflow-hidden whitespace-nowrap overflow-ellipsis")
                    | Fibonacci
                div#tech(class="flex gap-3")
                    div(class="bg-[#f9f4da]/5 flex gap-2 px-2 rounded-lg items-center")
                        img(src="/img/SVG/IN.svg", alt="", class="w-[25px]")
                        p(class="text-[#f9f4da]/50 text-lg") Python
                    div(class="bg-[#f9f4da]/5 flex gap-2 px-2 rounded-lg items-center")
                        img(src="/img/SVG/IN.svg", alt="", class="w-[25px]")
                        p(class="text-[#f9f4da]/50 text-lg") Python
            div(class="w-8 h-8 button translate  ")
                a(href="#")
                    img(src="/img/SVG/share.svg", alt="", class="w-[35px]") 