extends layout


block contenido
    nav(class="w-full py-2 fixed top-0 right-0 z-30 bg-[#0f0d0e]")
        div.max-w-screen-xl.mx-auto.flex.items-center.justify-between.p-2.px-8
            a.logo
                object(data="/img/SVG/logo.svg" type="image/svg+xml" class='w-full')
            
            button(class="contact flex gap-2 justify-center items-center h-10 text-sm font-medium px-4 py-1 bg-[#f9f4da]/5 hover:bg-[#f9f4da]/10 text-[#f9f4da] rounded-md hover-element") 
                object(data="/img/SVG/nfc.svg" type="image/svg+xml" class='arroba w-[15px]')
                |Contact the Dev!