extends layout

block contenido
    header(class="mx-auto max-w-[80ch] w-full my-10 px-8")
        h1.font-bold.text-3xl.uppercase.font-display.text-brand-beige Hola
    h1(class="max-w-screen-xl w-full mx-auto px-8 mb-8") hola
