doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title=(pageName) ? pageName : 'Proyetos'
    //link(href="css/style.css", rel="stylesheet")
    script(src="https://cdn.tailwindcss.com") 

  body(class='bg-[#283618] text-white min-h-screen flex flex-col')
    header(class='bg-[#606c38] flex items-center p-12 justify-between shadow-xl h-16')
      a(href="/" class='ml-7')
        img(src="/img/logo.png", alt="" class="w-32")
      div(class='flex lg:flex w-full justify-end items-center gap-4')
        a(href="/" class='text-[#fefae0] font-medium text-xl transition ease-in hover:text-[#dda15e]') Home
        a(href="/" class='text-[#fefae0] font-medium text-xl transition ease-in hover:text-[#dda15e]') Codigos
        a(href="/" class='p-2 m-2 mr-7 bg-gray-800  text-xl rounded-xl transition duration-300 text-[#fefae0] hover:bg-[#bc6c25] hover:text-white')
          span(class='font-medium') Talk to Dev!
    block contenido

